@import "../../../assets/styles/consts.module.scss";
@import "../../../assets/styles/placeholders.module.scss";

.button {
  @extend %rectangle-default;
  font: $font-main-medium;
  text-align: left;

  &:hover,
  &:focus-visible {
    border: $box-border-hover;
  }

  &.light {
    background-color: $color-main;
  }
}

