@import "../../../assets/styles/consts.module.scss";
@import "../../../assets/styles/mixins.module.scss";

.resources__wrapper {
  @include offsets(1.5rem);
  @include flex(column, 1rem);

  flex: 1;
  position: relative;
  overflow: hidden scroll;

  &::-webkit-scrollbar {
    @include size(3px);
  }

  &::-webkit-scrollbar-thumb {
    @include borders($radius: 5px);
    background-color: $color-secondary;
  }
}

.resources__list {
  @include size(100%, 100%);

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-auto-rows: min-content;
  gap: 2rem;
}

.hidden {
  display: none;
}

.loader {
  text-align: center;
  position: relative;
  font-weight: 500;

  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
}

