@import "../../assets/styles/consts.module.scss";
@import "../../assets/styles/common.module.scss";

.button {
  @extend %base-rectangle;
  font: $font-main-medium;

  &:hover,
  &:focus-visible {
    border: solid 1px $color-secondary;
  }

  &.light {
    background-color: $color-main;
  }
}

