@import "../../assets/styles/colors.module.scss";

.button {
  width: 100%;
  padding: 1rem;

  border-radius: 16px;
  box-shadow: $box-shadow-default;

  transition: box-shadow 0.5 ease-in-out;

  &.light {
    background-color: $color-main;
    color: $text-main-color;
  }

  &.disabled {
    background-color: $button-disabled;
    color: $text-main-color;
  }

  &:hover,
  &:focus,
  &:focus-within {
    border-color: $color-secondary;
    box-shadow: none;
  }
}

