@import "../../assets/styles/colors.module.scss";

.button {
  width: 100%;
  padding: 1rem;

  border-radius: 16px;
  box-shadow: $box-shadow-default;

  &.light {
    background-color: $color-main;
    color: $text-main-color;
  }

  &.disabled {
    background-color: $button-disabled;
    color: $text-main-color;
  }

  &:hover {
    border-color: $color-secondary;
  }
}

