@import "../../../assets/styles/mixins.module.scss";
@import "../../../assets/styles/placeholders.module.scss";

.modal {
  &__header,
  &__description {
    @extend %text-ellipsis;
  }

  &__header {
    margin: 0;
    -webkit-line-clamp: 2;
  }

  &__description {
    -webkit-line-clamp: 4;
  }
}

.modal__content {
  @extend %rectangle-default;
  @include size(100%, 100%);
  @include flex(column, 1rem, space-between);

  transition: $transition-transform;
  background-color: $color-main;
  border-color: var(--label-bg-color);

  &:hover,
  &:focus-visible {
    transform: $transform-scale-hover;
    box-shadow: 4px 8px 20px 3px var(--label-bg-color) / 50%;

    .modal__label::before {
      transform: $transform-translate-hover;
      transition: $transition-transform;
    }
  }

  &:not(:hover) {
    transform: $transform-scale-default;

    .modal__label::before {
      transform: $transform-translate-default;
      transition: $transition-transform;
    }
  }
}

.modal__label {
  font: $font-italic-bold;
  color: $color-font-light;

  display: inline-block;
  position: relative;
  text-align: center;

  &::before {
    content: "";
    @include size(100%, 130%);

    opacity: 0.7;

    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    background-color: var(--label-bg-color, $color-font-dark);
  }
}

.wrapper_opened {
  @include size(100%, 100%);
  @include flex($justify-content: center, $align-items: center);

  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* затемнение заднего фона */
  z-index: 1000;
}

.content_opened {
  @include size(30vw, 70vh);
  @include flex(column, 1rem, start, $text-align: center);
}

.modal__img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

