@import "../../../assets/styles/placeholders.module.scss";
@import "../../../assets/styles/mixins.module.scss";

.expandedNav {
  @extend %nav;
  @extend %scroll;

  @include size(30vw, 100vh);

  gap: 0;
  &__header {
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 1rem;
  }
}
