@import "../../../assets/styles/consts.module.scss";
@import "../../../assets/styles/placeholders.module.scss";

.nav {
  @extend %nav;

  &_expanded {
    padding-top: 0;
  }
}

.searchBar {
  display: grid;
  grid-template-columns: 1fr 6fr;
  gap: 1rem;
}
