@import "../../../assets/styles/consts.module.scss";
@import "../../../assets/styles/mixins.module.scss";

.header {
  background-color: $color-main;

  @include stickyPosition();
  border-top: 2rem solid $color-main;
  z-index: 2;
}

.header_borders {
  border: 2rem solid $color-main;
}

.header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3rem;
  width: 100%;
  height: 1rem;
  background: linear-gradient(to bottom, $color-main, rgba(255, 255, 255, 0));
  pointer-events: none;
}
