@import "../../../assets/styles/consts.module.scss";
@import "../../../assets/styles/mixins.module.scss";

.header {
  @include size(100%, fit-content);
  @include offsets(1rem);

  position: sticky;
  top: 0;
  left: 0;

  background-color: $color-main;
}

