@import "./assets/styles/mixins.module.scss";

#root {
  @include size($max-w: 1280px);
  @include offsets(2rem, 0 auto);
  text-align: center;
}
.app {
  @include size(100vw);
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 2rem;
}

