@import "./consts.module.scss";

%base-rectangle {
  border: $box-border-default;
  border-radius: $box-radius;
  box-shadow: $box-shadow-default;
  transition: border-color 0.25s, outline-color 0.25s;

  cursor: pointer;
  padding: 1rem;
  width: 100%;

  color: $font-main-color;
  font: $font-main-regular;
}

