$color-main: #ffffff;
$color-gradient: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
$color-secondary: #1a2a00b8;
$color-button-hover: #eeeeee;

$box-shadow-default: 4px 8px 20px 3px rgb(13 13 13 / 22%);
$box-border-default: 1px solid transparent;
$box-border-hover: 1px solid $color-secondary;
$box-radius: 16px;

$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$color-font-dark: #262626cf;
$color-font-light: $color-main;
$font-main-medium: 500 1em $font-family;
$font-main-regular: 400 1em $font-family;
$font-italic-bold: italic 600 1em $font-family;

$transition-transform: transform 0.4s ease-out;
$transform-scale-hover: scale(1.01);
$transform-scale-default: scale(1);

$transform-translate-hover: translate(-50%, -50%) skew(0deg);
$transform-translate-default: translate(-50%, -50%) skew(-30deg);

