@import "./consts.module.scss";

@mixin size($w: auto, $h: auto, $max-w: none, $max-h: none) {
  width: $w;
  height: $h;
  max-width: $max-w;
  max-height: $max-h;
}

@mixin flex(
  $direction: row,
  $gap: 0,
  $justify-content: unset,
  $align-items: unset,
  $text-align: unset
) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
  justify-content: $justify-content;
  align-items: $align-items;
  text-align: $text-align;
}

@mixin offsets($padding: unset, $margin: unset) {
  padding: $padding;
  margin: $margin;
}

@mixin borders($border: $box-border-default, $radius: $box-radius) {
  border: $border;
  border-radius: $radius;
}

@mixin relativePosition($top: 0, $left: 0) {
  position: relative;
  top: $top;
  left: $left;
}

@mixin stickyPosition($top: 0) {
  position: sticky;
  z-index: 1;
  top: $top;
}

