@import "./consts.module.scss";
@import "./mixins.module.scss";

%rectangle-default {
  @include size(100%);
  @include borders();
  @include offsets(1rem);

  box-shadow: $box-shadow-default;
  transition: border-color 0.25s, outline-color 0.25s;

  cursor: pointer;
  color: $color-font-dark;
  font: $font-main-regular;
}

%text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

%nav {
  @include size(100%, 100vh);
  @include offsets(2rem);
  @include flex(column, 2rem);

  border-right: $box-border-hover;
  box-shadow: $box-shadow-default;
  background-color: $color-main;
}

%scroll {
  overflow: hidden scroll;

  &::-webkit-scrollbar {
    @include size(3px);
  }

  &::-webkit-scrollbar-thumb {
    @include borders($radius: 5px);
    background-color: $color-secondary;
  }
}
